<!DOCTYPE html>
<html>
<head>
    <title>rob' Flask Chess AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>
<body>
    <h1>rob's Flask Chess AI</h1>

    <div id="game-info">
        <div id="game-status">White's turn</div>
        <div id="captured-pieces">
            <div>White's captured: <span id="white-captured"></span></div>
            <div>Black's captured: <span id="black-captured"></span></div>
        </div>
        <div>Move history:</div>
        <ol id="move-history"></ol>
    </div>

    <div id="board"></div>
    <button id="reset-btn">New Game</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chessboard-init.js') }}"></script>
</body>
</html>
